*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
    background-color: white;
    box-shadow: 0 0 2px gray;
    position: sticky;
    top: 0%;
    z-index: 5;


}
.navbar{
    display: flex;
    align-items: center;
    width: 1300px;
    margin: auto;
}
.navbar img{
    width: 60px;
    border-radius: 30px;
}
.country-select {
    width: 250px;
    margin-left: 60px;
}
.select i{
    font-size: 25px;
    transition: all 0.3s;

}.select {
    width: 100%;
    background-color: rgba(250,250,250,0.7);
    border-radius: 5px;
    padding: 10px 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}
.option {
    display: flex;
    padding: 10px;
    width: 200px;
    cursor: pointer;


}
.option:hover{
    background-color: brown;
}
.option p{
    margin-left: 20px;
    color: rgb(10, 238, 48);
}
.option i{
    color: rgb(77, 4, 161);
}
.option-box{
    box-shadow: 0 0 10px;
    background-color: aliceblue;
    display: none;
    position: absolute;
    top: 60px;
}
.hidden{
    display: block;
}
.rotated{
    transform: rotate(180deg);
}
.search_box{
    display: flex;
    margin-left: 30px;
}
.search_box i{
    background-color: black;
    font-size: 15px;
    color: white;
    padding: 15px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}
.searchclass{
    padding: 10px;
    width: 400px;
    font-size: 15px;
    border: solid black;
    border-radius: 6px 0 0 6px;
}
#eng_tag{
    cursor: pointer;
    font-size: 18px;
    margin-left: 25px;

}
.hin_eng{
    background-color: white;
    box-shadow: 0 0 10px green;
    width: 200px;
    display: none;
    position: absolute;
    top: 60px;
}
.hin_eng li{
    list-style: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 20px;

}
.hin_eng li:hover{
    background-color: brown;

}
.display_div{
    display: block;
}
.message i{
    font-size: 42px;
    color: rgb(95, 7, 238);
    cursor: pointer;
    margin-left: 25px;
}
.man_image img{
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 55px;
}
.nameandimg img{
width: 65px;
border-radius: 50%;
}
.nameandimg p{
    font-size: 18px;
    font-weight: bold;

}
.nameandimg{
    display: flex;
    align-items: center;
    margin: 10px 0 20px;
}
.dropdown{
    width: 250px;
    box-shadow: 0 0 10px green;
    padding: 15px;
    background-color: white;
    display: none;
    position: absolute;
    top: 60px;
}
.dropdown ul li{
    display: flex;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.dropdown ul li:hover{
    background-color: brown;
}
.dropdown ul{
    margin-top: 20px;
}
.dropdown ul li i{
    color: blueviolet;
    font-size: 17px;

}
.dropdown ul li p{
    margin-left: 10px;
    font-size: 17px;
}
.block_div{
    display: block;
}
.selling_page button{
    margin-left: 25px;
    border-style: solid;
    border-width: 5px;
    border-top-color: green;
    border-left-color: rgb(90, 14, 233);
    border-right-color: rgb(211, 9, 9);
    border-bottom-color: rgb(241, 227, 18);
    font-size: 15px;
    cursor: pointer;
    padding: 6px 12px;
    margin-top: 0%;
    border-radius: 30px;
    background-color: white;
    color: black;
    display: flex;
  
}


/*------------------------------ * ad 1 * ----------------------------------*/

.ad_img img{
    width: 600px;
    z-index: 1;
    border: 1px solid saddlebrown;
    position: relative;
    border-radius: 5px ;

}
.ad_img{
    width: 600px;
    margin: auto;
    margin-top: 15px;
    height: 400px;
    position: relative;
}
.ad_img i{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    color: red;
    font-size: 25px;
    cursor: pointer;


}


/*------------------------------ * product image * ----------------------------------*/

.product_image{
    display: flex;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    width: 1200px;
    background-color: rgb(3, 88, 88);
}
.product_image_description{
    border-radius: 5px;
    width: 800px;
    background-color: aqua;
}
.product_image_description img{
width: 450px;
margin-left: 180px;

}
#next{
    color: white;
}
#prev{
    color: white;
}

/*------------------------------ * description * ----------------------------------*/
.description{
    padding-left: 20px;
    border: 1px solid gold;
    border-radius: 5p;
    background-color: white;
    padding-bottom: 15px;
}
.description h3{
    padding: 10px 10px 10px 0;
    font-size: 20px;

}
.description p{
    line-height: 20px;
    color: blueviolet;
}


/*------------------------------ * product details * ----------------------------------*/

.product_details{
    width: 400px;
    margin-left: 10px;
}


/*------------------------------ * box 1 * ----------------------------------*/

.box{
background-color: white;
border: 1px solid greenyellow;
border-radius: 5px;
}

.price{
    display: flex;
    justify-content: space-betweens;
}
.price h3{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}
.price p{
    font-size: 25px;
    font-weight: normal;
    float: left;
    margin-right: 10px;
    margin: 10px 0 10px 10px;
    cursor: pointer;
}
.box span{
    color: blueviolet;
    padding: 0 0 10px 10px;
}

.location{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    padding: 15px 10px 15px 10px;

}

/*------------------------------ * box 2 * ----------------------------------*/

.seller_details img{
    width: 50px;
    border-radius: 50%;
    margin: 10px 10px 8px 10px;
}
.seller_details{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.seller_description{
    font-size: 17px;
    color: blue;
    padding: 10px 0 5px 10px;
}
.seller_details h2{
    font-size: 14px;

}
.seller_details p{
    font-size: 12px;
}
.box a{
    text-decoration: none;
    color: brown;
    margin: 10px;
    padding: 10px 100px;
    border: 2px solid springgreen;
    transition:all 0.3s;
}
.box p{
    margin-left: 15px;
}

.box a:hover{
 
    border: 4px solid springgreen;
   
}
#box2{
    height: 170px;
    margin-top: 10px;
}



/*------------------------------ * box 3 * ----------------------------------*/

#box3{
    margin-top: 10px;

}
#box3 h2{
    font-size: 18px;
    padding: 15px;
}
#box3 p{
    font-size: 13px;
    padding: 0 0 10px 15px;

}
#box3 img{
    width: 150px;
    padding: 0 15px;
    padding-bottom: 15px;
}



































